*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #405D7A;
}
.container-fluid{
    margin-top: 50px;
}
.text-center h1{
    height: 84px;
    color: #ffffff;
	font-family: Cambria,Georgia,serif; 
    font-size: 36px;
    font-weight: 700px;
    line-height: 42px;
}
#btn{
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background: rgba(255, 246, 246, 0.46);
    box-shadow: 0px 2px 4px;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-weight: 400px;
    line-height: 20px;
    margin-top: 40px;
    letter-spacing: 2px;
}
label{
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}
input{
    box-shadow: 5px 5px 5px;
}